<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OMAAPINIONS OVERVIEW </title>
</head>

<body>
  <section layout:fragment="content" class="py-5">
    <section class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>About Omaapinions</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus, recusandae ex assumenda distinctio
              facere corporis? Esse alias dicta doloremque voluptates magni molestias corporis officiis saepe assumenda.
              Velit dolorem voluptates cupiditate?</p>
            <ul>
              <li>Lorem ipsum dolor sit amet.</li>
              <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</li>
              <li>Lorem ipsum dolor sit.</li>
              <li>Lorem, ipsum.</li>
            </ul>
          </div>
          <div class="col-md-6">
            <img src="https://via.placeholder.com/500x300" alt="Omaapinions Illustration" class="img-fluid rounded">
          </div>
        </div>
      </div>
    </section>

    <section sec:authorize="!isAuthenticated()" class="py-5">
      <div class="container text-center">
        <h2>Get Started Today</h2>
        <p>Join thousands of users who trust Omaapinions for their survey needs. Sign up now and experience the
          difference.</p>
        <div class="d-flex justify-content-center">
          <a th:href="@{/login}" class="btn btn-primary mx-2">Login</a>
          <a th:href="@{/register}" class="btn btn-success mx-2">Register</a>
        </div>
      </div>
    </section>
  </section>
</body>

</html>
