<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Survey list</title>
</head>

<body>
  <section layout:fragment="content" class="py-5">
    <div class="container mt-5">
      <h2 class="mb-4">Available Surveys</h2>
      <div> <!--alert with different params-->
        <div th:if="${param.surveyTaken}" class="alert alert-danger">
          Survey Has been Taken
        </div>
        <div th:if="${param.submit}" class="alert alert-success">
          Survey succesfully submitted!
        </div>
        <div th:if="${param.add}" class="alert alert-success">
          Survey succesfully added!
        </div>
        <div th:if="${param.del}" class="alert alert-success">
          Survey succesfully deleted!
        </div>
        <div>
        </div>
        <form th:action="@{/surveys/search}" class="form-inline my-2 my-lg-0 mb-3">
          <input name="query" class="form-control mr-sm-2 mb-5" type="search" placeholder="Search Surveys"
            aria-label="Search">
        </form>
      </div>
      <!-- Iterasi untuk setiap kategori -->
      <div class="mb-4" th:each="category : ${categories}">
        <h4 class="text-primary">[[${category}]]</h4>
        <ul class="list-group">
          <!-- Iterasi survey in kategori -->
          <li class="list-group-item d-flex justify-content-between align-items-center"
            th:each="survey : ${surveysByCategory.get(category)}">
            <a class="text-decoration-none" th:href="@{/surveys/{surveyId}(surveyId=${survey.id})}">
              <div class="d-flex justify-content-between w-100 align-items-center">
                <div>
                  <span class="fw-bold text-secondary">[[${survey.title}]]</span>
                  <div>
                    <small class="text-muted">Duration: [[${survey.duration}]] minutes</small>
                  </div>
                </div>
              </div>
            </a>
          </li>
          <!-- Pesan jika tidak ada survey dalam kategori -->
          <li class="list-group-item text-muted" th:if="${surveysByCategory.get(category).empty}">
            No surveys available in this category
          </li>
        </ul>
      </div>
    </div>
  </section>
</body>

</html>
